.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    height: 100vh;
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;

    background-color: #4D5B9E;
    color: white;
    font-family: "Karla", sans-serif;
    font-size: 1.1rem;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.btn:hover {
    cursor: pointer;
}

.bottom-bar {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px 0 0 0;
}

.bottom-bar p {
    font-size: 1.5rem;
    font-weight: bold;
}

.bottom-bar button {
    margin: 0 0 0 10px;
    left: 0;
    transform: translateX(0);
}